body, html {
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
}

figure {
  float: left;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 40px;
   margin-right: 40px;
}
.image {
    display: block;
    overflow: hidden;
    background-size: cover;
    width: 33%;
    height: 200px;
    float: left;
}

.lobster {
  font-family: 'Lobster', 'Arial, Helvetica';
  font-size: 50px;
  color: rgb(39,174,96);
}

.raleway {
  font-family: 'Raleway', sans-serif;
  color: rgb(1,174,161);
}

.thisway {
  text-transform: uppercase;
  color: rgb(152,179,154);
  padding-left: 1rem;
}

.lato {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(147,186,165);
}

a:hover {
  text-decoration: underline;
  color: rgb(147,186,165);
}

a.lobster-bar {
  text-decoration: none;
  color: rgb(39,174,96);
}

h3.raleway {
  text-align: left;
  color: rgb(1,174,161);
}

span {
  color: black;
}

md-tabs {
    border: 1px solid #e1e1e1;
}

.green {
  background: slategray
}

.container {
  width: 50%;
} 


li {
  list-style: none;
  border-bottom: 1px solid #000;
  padding-left: 0px;
}

ul {
  background-color: #fff;
  border-radius: 10px;
  padding-left: 0px;
}

ul > li:nth-child(2n) {
  background-color: #eee;
}

.row-li {
  margin-left: 0px;
  margin-right: 0px;
}
.btn-warning {
  border-radius: 5px;
  position: relative;
  left: 220px;
}