<div class="container">
	<h3 class="text-center">Lista de archivos</h3>
	<ul>
		<li>
			<form>
				<div class="col-md-6">
				<input type="file" file-upload="vm.files" multiple class="btn-primary">
				</div>
				<div class="col-md-6">
				<button ng-click="vm.addFile()" class="btn-warning">Subir</button>
				</div>
			</form>
		</li>

		<li class="row row-li">
			<div class="col-md-3">Nombre</div>
			<div class="col-md-3">Tamaño</div>
			<div class="col-md-3">Tipo</div>
			<div class="col-md-3"></div>
		</li>


		<li class="row row-li" ng-repeat="file in vm.jsonFiles.files track by $index">
			<div class="col-md-3">{{file.name}}</div>
			<div class="col-md-3">{{file.size}}</div>
			<div class="col-md-3">{{file.type}}</div>
			<div class="col-md-3">
				<button ng-click="vm.deleteFile($index)" class="btn-danger">X</button>
			</div>
		</li>

	</ul>
</div>