<div class="navbar navbar-inverse navbar-static-top">
  <div class='container'>
    <a class="navbar-brand lobster" href="#/">Searchify</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a translate="header.welcome" translate-values="{user: vm.user.firstName}"></a></li>
      <li><a href=""><button translate="header.esBtn" ng-click="vm.changeLang('es')"></button></a></li>
      <li><a href=""><button translate="header.enBtn" ng-click="vm.changeLang('en')"></button></a></li>
      <li><a href='#/login' translate="header.logout"></a></li>
    </ul>
  </div>
</div>