<div class="container">
  <div class="col-md-12">
    <input type="text" autofocus placeholder="{{'header.search' | translate}}" ng-model="query" ng-change="request()">
  </div>

<div class="col" ng-repeat="result in results.artists.items">
  <figure>
    <img ng-src="{{result.images[1].url}}" alt="{{result.name}}" width="200" height="200">
    <a href="#/home/artist/{{result.id}}"><figcaption ng-if="result.images[1].url.length > '0'"> {{result.name}}</figcaption></a>
  </figure>
</div>
</div>
<!-- 
<md-grid-list
        md-cols-sm="1" md-cols-md="3" md-cols-gt-md="5"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter="8px" md-gutter-gt-sm="4px" >
    <md-grid-tile ng-repeat="result in results.artists.items" >
      <a href="#/home/artist/{{result.id}}"><img ng-src="{{result.images[1].url}}" alt="{{result.name}}" width="210" height="210"></a>
      <md-grid-tile-footer>
        <h3>{{result.name}}</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
 </md-grid-list>
 comentado hasta nuevo aviso -->