<div class="col-md-6 col-md-offset-3">
  <h1 class="lead text-center">{{'register.title' | translate}}</h1>
  <form name="userForm" ng-submit="vm.register()" role="form">
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>{{'register.firstName' | translate}}</label>
        <input ng-model="vm.user.firstName">
      </md-input-container>
      <md-input-container flex>
        <label>{{'register.lastName' | translate}}</label>
        <input ng-model="vm.user.lastname">
      </md-input-container>
      <!---
          <md-datepicker ng-model="vm.user.submissionDate" md-placeholder="{{'register.birthDay' | translate}}"></md-datepicker>
--->
    </div>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>{{'register.username' | translate}}</label>
        <input ng-model="vm.user.username" required>
      </md-input-container>
      <md-input-container flex>
        <label>{{'register.password' | translate}}</label>
        <input type="password" ng-model="vm.user.password" required>
      </md-input-container>
    </div>

    <md-input-container flex>
      <label>{{'register.address' | translate}}</label>
      <input ng-model="vm.user.address">
    </md-input-container>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>{{'register.city' | translate}}</label>
        <md-select ng-model="vm.user.city">
          <md-option ng-repeat="province in vm.provinces" value="{{province}}">
            {{province}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex>
        <label>{{'register.postalCode' | translate}}</label>
        <input name="postalCode" ng-model="vm.user.postalCode" placeholder="1234" required ng-pattern="/^[0-9]{4}$/" md-maxlength="4">
        <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-sm="column">
      <md-button type="submit" ng-disabled="userForm.$invalid || vm.dataLoading" class="md-raised md-primary">{{'register.registerBtn' | translate}}</md-button>
      <md-button href="#/login" class="md-primary">{{'register.cancelBtn' | translate}}</md-button>

    </div>
    <md-progress-circular md-diameter="20px" ng-if="vm.dataLoading" md-mode="indeterminate"></md-progress-circular>
  </form>
</div>