<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h3 class="md-headline">{{'login.title' | translate}}</h3>
        <form name="userForm" ng-submit="vm.login()" role="form">
            <md-input-container>
                <label>{{'login.username' | translate}}</label>
                <input ng-model="vm.username" name="username" required>
            </md-input-container>
            <md-input-container>
                <label>{{'login.password' | translate}}</label>
                <input type="password" name="password" ng-model="vm.password" required>
            </md-input-container>
            <div ng-messages="vm.error" role="alert">
                {{vm.error}}
            </div>
            <div layout="row" layout-sm="column">
                <md-button type="submit" ng-disabled="userForm.$invalid || vm.dataLoading" class="md-raised md-primary">{{'login.loginBtn' | translate}}</md-button>
                <md-button href="#/register" class="md-primary">{{'login.register' | translate}}</md-button>
                <md-progress-circular md-diameter="20px" ng-if="vm.dataLoading" md-mode="indeterminate"></md-progress-circular>
            </div>
        </form>
    </div>
</div>